*{
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

QToolTip {
    border: 2px solid black;
    border-radius: 40px;
    padding: 4px;
}

QPushButton#lateral_menu_button:hover {
    background-color: ghostwhite;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    padding: 6px;
}

QFrame#top_bar {
    background-color: gainsboro;
    border: 1px solid gainsboro;
}

